extends ../layout/main

block variables
    - var title = 'Главная страница'

block content
    .container
        .text
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicaboSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

        .left-hill-back
        .mountain-one
        .mountain-two

        .lake

        .pier
        .hero
        .boat

        .left-hill-front
        .hill-front-one
        .hill-front-two